spring:
  config:
    import: "optional:file:.env[.properties]"

  application:
    name: petmate-service

  datasource:
    url: "${DB_URL}"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      hibernate:
        format_sql: true

  data:
    mongodb:
      uri: "${MONGO_URI}"

  cloud:
    openfeign:
      client:
        config:
          default:
            connectTimeout: 5000
            readTimeout: 5000
          storage-service:
            enabled: false

server:
  port: 8089
  # [필수 추가] Gateway(Proxy) 뒤에서 HTTPS/WS 프로토콜을 올바르게 인식하기 위해 필요
  forward-headers-strategy: framework

# [추가 권장] 배포 환경 디버깅용 로그 설정
logging:
  level:
    com.example.petlog: DEBUG # 우리 프로젝트 패키지
    org.springframework.web.socket: DEBUG # 웹소켓 연결 로그
    org.springframework.cloud.gateway: INFO

# === 외부 서비스 URL 설정 ===
# 기본값은 로컬이지만, 배포 시엔 환경변수로 덮어씌워야 함
external:
  user-service:
    url: ${USER_SERVICE_URL:http://localhost:8080}
  pet-service:
    url: ${PET_SERVICE_URL:http://localhost:8080}
  notification-service:
    url: ${NOTIFICATION_SERVICE_URL:http://localhost:8080}
  storage-service:
    url: ${STORAGE_SERVICE_URL:http://localhost:8080}

kakao:
  rest-api-key: ${KAKAO_REST_API_KEY:YOUR_KAKAO_KEY}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html