spring:
  config:
    import: "optional:file:.env[.properties]"

  application:
    name: petlog

  # PostgreSQL 설정
  datasource:
    url: "${DB_URL}"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"
    driverClassName: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  # MongoDB 설정
  data:
    mongodb:
      uri: "${MONGO_URI}"

server:
  port: 8087



#openapi:
#  service:
#    # API Gateway 포트
#    url: "${API_GATEWAY}"

external:
  user-service:
    url: ${USER_SERVICE_URL}
  pet-service:
    url: ${PET_SERVICE_URL}

